.matchListContainer {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  margin-top: 100px;
  margin-bottom: 100px;
}

.matchList {
  max-width: 1024px;
  margin: 0 auto;
}

.itemContainer {
  list-style: none;
}

.itemContainer .item__wrap {
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
}

.itemTime {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  font-size: 16px;
  font-weight: 700;
}

.itemTime > span {
  padding: 4px;
}

.itemInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  padding-right: 10px;
}

.itemInfo h3 {
  font-size: 13px;
  font-weight: 400;
}

.itemInfo span {
  font-size: 11px;
  color: #999;
  margin-top: 3px;
}

.matchStatus {
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 6px;
  font-size: 12px;
}

.matchStatus.isApply {
  color: white;
  background-color: #1570ff;
  cursor: pointer;
}

.matchStatus.isApplyComplete {
  color: white;
  background-color: yellowgreen;
  cursor: pointer;
}

.matchStatus.isNotApply {
  color: #ccc;
  background-color: #eeeeee;
}

.matchStatus.myMatch {
  background-color: green;
  color: white;
  cursor: pointer;
}
