.footer {
  background-color: #2a2a2a;
}

.footerWrap {
  max-width: 1024px;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 50px 30px 100px 30px;
}

.footerNav {
  color: white;
  margin-bottom: 20px;
  overflow: auto;
}

.footerNav h3 {
  font-size: 14px;
  margin-bottom: 5px;
}

.footerNav ul li {
  padding: 2px 0;
}

.footerNav ul {
  margin-bottom: 30px;
  width: 50%;
  float: left;
}

.footerNav ul li p {
  color: white;
  font-size: 13px;
  color: #999;
}

.footerWrap .company {
  text-align: left;
}

.footerWrap .company h2 {
  margin-bottom: 10px;
}

.footerWrap .company h2 a {
  font-size: 16px;
  color: white;
  font-style: italic;
  border-bottom: 2px solid #ffc645;
}

.footerWrap .company p {
  font-size: 12px;
  color: #999;
  margin-bottom: 20px;
}

.footerWrap .company .copyright {
  font-size: 12px;
}

.footerWrap .company span {
  padding: 2px 0;
  display: block;
  font-size: 11px;
  color: #999;
}

@media only screen and (min-width: 1024px) {
  .footerWrap {
    padding: 50px 30px 100px 30px;
  }

  .footerWrap .footerNav {
    width: 50%;
  }

  .footerNav ul {
    width: 25%;
  }

  .footerWrap .company {
    margin-left: 50px;
    text-align: left;
    width: 40%;
  }

  .footerWrap .company h2 a {
    font-size: 20px;
  }
}
